.question-section {
  padding: 20px;
  background: #d6d6d0;
  border-radius: 10px;
  width: 800px;
  max-width: 90%; /* 小さい画面に対応 */
}

h1 {
  color: #333;
  font-size: 2em;
}

h2 {
  color: #515070;
  font-size: 1.5em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  background-color: #3877bb;
  color: white;
  border: none;
  border-radius: 4px;
}

.large-feedback {
  font-size: 3em;
  color: #007bff;
  margin: 5px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
}

.option-0 {
  background-color: rgb(90, 44, 44);
}

.option-1 {
  background-color: rgb(37, 80, 56);
}

.option-2 {
  background-color: rgb(60, 40, 78);
}

.option-3 {
  background-color: rgb(45, 53, 94);
}

.option-4 {
  background-color: rgb(218, 90, 67);
}

.option-5 {
  background-color: rgb(207, 152, 56);
}

/* ボタンの共通スタイル */
.quiz-option-button {
  width: 70%;
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  color: rgb(224, 224, 219);
  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* ホバーアクション */
.quiz-option-button:hover {
  /* opacity: 0.8; */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.feedback-section {
  color: deeppink;
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を中央揃えにする */
}

.feedback-section p {
  color: deeppink;
  max-width: 300px; /* テキストの最大幅を設定 */
  word-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 空白や改行を保持して折り返す */
  text-align: center; /* テキストを中央揃えにする */
}
