.score-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  max-width: 1400px;
  width: 80%;
  max-height: 80vh; /* コンテナの最大高さを設定 */
  overflow-y: auto; /* 垂直方向のスクロールを有効にする */
}

.final-score {
  font-size: 2em;
  color: royalblue; /* #1c61aa */
}

.answer-table {
  width: 100%;
  border-collapse: collapse;
}

.answer-table thead {
  background-color: mediumorchid; /* #d38cc9 */
  color: white;
}

.answer-table tbody {
  color: blue;
}

.answer-table th,
.answer-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.correct {
  background-color: lightgreen; /* #d4edda */
}

.wrong {
  background-color: lightcoral; /* #f8d7da */
}

/* ○×のサイズを大きくする */
.judgement {
  font-size: 2em; /* サイズを調整 */
}
