.admin-table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 中央に配置 */
  }
  
  .admin-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto; /* テーブルを中央に配置 */
    table-layout: fixed; /* テーブルのレイアウトを固定 */
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #b8ccb9;
    padding: 8px;
  }
  
  .admin-table th {
    background-color: #570e8b; /* 背景色をインディゴ色に変更 */
    color: white; /* テキスト色を白に変更 */
    text-align: center; /* テキストをセンター配置 */
    width: auto; /* デフォルトの幅をリセット */
    position: sticky; /* ヘッダーを固定 */
    top: 0; /* 上部に固定 */
    z-index: 1; /* ヘッダーを前面に表示 */
  }
  
  .admin-table th:nth-child(1) {
    width: 4%; /* データID */
  }
  
  .admin-table th:nth-child(2) {
    width: 4%; /* クイズID */
  }
  
  .admin-table th:nth-child(3) {
    width: 30%; /* 問題文 */
  }
  
  .admin-table th:nth-child(4) {
    width: 10%; /* 正解 */
  }
  
  .admin-table th:nth-child(5) {
    width: 30%; /* 捕捉情報 */
  }
  
  .admin-table th:nth-child(6) {
    width: 10%; /* 不正解1 */
  }
  
  .admin-table th:nth-child(7) {
    width: 10%; /* 不正解2 */
  }
  
  .admin-table th:nth-child(8) {
    width: 10%; /* 不正解3 */
  }
  
  .admin-table th:nth-child(9) {
    width: 4%; /* 難易度 */
  }
  
  .admin-table th:nth-child(10) {
    width: 10%; /* 最終更新 */
  }
  
  .admin-table th:nth-child(11) {
    width: 10%; /* アクション */
  }
  
  .admin-table tr {
    border-bottom: 1px solid #b8ccb9; /* 行の下に線を追加 */
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #d2dfe0; /* 偶数行の背景色を変更 */
  }
  
  .admin-table tr:nth-child(odd) {
    background-color: #e9dbe7; /* 奇数行の背景色を変更 */
  }

  .button-container {
    justify-content: center; /* 水平方向に中央配置 */
    align-items: center; /* 垂直方向に中央配置 */
  }
  

  .edit-button {
    background-color: #1d7996 !important;
    width: 60px !important;
  height: 40px !important;
  padding: 5px 5px !important;
  margin-top: 2px !important; /* 上部のスペースを追加 */
  margin-bottom: 2px !important; /* 下部のスペースを追加 */
  margin-left: 0 !important; /* 左右のマージンをなしに */
  margin-right: 0 !important; /* 左右のマージンをなしに */
  }
  
  .edit-button:hover {
    background-color: #4fa3d4 !important;
  }
  
  .delete-button {
    background-color: #B22222 !important;
    width: 60px !important;
    height: 40px !important;
    padding: 5px 5px !important;
    margin-top: 2px !important; /* 上部のスペースを追加 */
    margin-bottom: 2px !important; /* 下部のスペースを追加 */
    margin-left: 0 !important; /* 左右のマージンをなしに */
    margin-right: 0 !important; /* 左右のマージンをなしに */
  }
  
  .delete-button:hover {
    background-color: #e02a5e !important;
  }
  
  .edit-form {
    width: 75%; /* フォームの幅を80%に設定 */
    margin: 0 auto; /* フォームを中央に配置 */
    padding: 20px; /* フォームの内側に余白を追加 */
    border: 1px solid #ccc; /* フォームの境界線を追加 */
    border-radius: 10px; /* フォームの角を丸くする */
    background-color: #f9f9f9; /* フォームの背景色を設定 */
  }
  
  .edit-form label {
    display: block; /* ラベルをブロック要素に設定 */
    margin-bottom: 10px; /* ラベルの下に余白を追加 */
  }
  
  .edit-form input {
    width: 100%; /* 入力フィールドの幅を100%に設定 */
    padding: px; /* 入力フィールドの内側に余白を追加 */
    margin-bottom: 10px; /* 入力フィールドの下に余白を追加 */
    border: 1px solid #ccc; /* 入力フィールドの境界線を追加 */
    border-radius: 5px; /* 入力フィールドの角を丸くする */
  }
  

  .edit-form label {
    justify-content: flex-start; /* 左寄せにする */
    margin-bottom: 10px; /* ラベルの下に余白を追加 */
    text-align: left; /* ラベルのテキストを左寄せにする */
    margin-left: 30px; 
    margin-right: 30px;
  }
  
  .edit-form label input {
    margin-left: 20px; /* 入力フィールドとラベルの間に余白を追加 */    
    flex-grow: 1; /* 入力フィールドが残りのスペースを埋めるようにする */
  }
  
  /* 当該ページのハイライト */
  button.active {
    background-color: rgb(7, 92, 172);
    color: white;
  }

  button.active:hover {
    background-color: #4fa3d4 !important;
  }