.admin-user-table {
  width: 80%;
  border-collapse: collapse;
  margin: auto; /* テーブルを中央に配置 */
  table-layout: fixed; /* テーブルのレイアウトを固定 */
  border: 1px solid #b8ccb9; /* テーブル全体に境界線を追加 */
}

.admin-user-table th, .admin-user-table td {
  border: 1px solid #b8ccb9; /* セルに境界線を追加 */
  padding: 8px;
}

.admin-user-table th {
  background-color: #570e8b; /* 背景色をインディゴ色に変更 */
  color: white; /* テキスト色を白に変更 */
  text-align: center; /* テキストをセンター配置 */
  width: auto; /* デフォルトの幅をリセット */
  position: sticky; /* ヘッダーを固定 */
  top: 0; /* 上部に固定 */
  z-index: 1; /* ヘッダーを前面に表示 */
}

.admin-user-table th:nth-child(1) {
  width: 10%; /* 社員ID */
}

.admin-user-table th:nth-child(2) {
  width: 20%; /* 社員氏名 */
}

.admin-user-table th:nth-child(3) {
  width: 30%; /* Eメールアドレス */
}

.admin-user-table th:nth-child(4) {
  width: 10%; /* 権限 */
}

.admin-user-table th:nth-child(5) {
  width: 10%; /* 最終更新日 */
}

.admin-user-table th:nth-child(6) {
  width: 10%; /* 操作 */
}

.admin-user-table tr {
  border-bottom: 1px solid #b8ccb9; /* 行の下に線を追加 */
}

.admin-user-table tr:nth-child(even) {
  background-color: #d2dfe0; /* 偶数行の背景色を変更 */
}

.admin-user-table tr:nth-child(odd) {
  background-color: #e9dbe7; /* 奇数行の背景色を変更 */
}


.button-container {
  justify-content: center; /* 水平方向に中央配置 */
  align-items: center; /* 垂直方向に中央配置 */
}


.edit-button {
  background-color: #1d7996 !important;
  width: 60px !important;
height: 40px !important;
padding: 5px 5px !important;
margin-top: 2px !important; /* 上部のスペースを追加 */
margin-bottom: 2px !important; /* 下部のスペースを追加 */
margin-left: 0 !important; /* 左右のマージンをなしに */
margin-right: 0 !important; /* 左右のマージンをなしに */
}

.edit-button:hover {
  background-color: #4fa3d4 !important;
}

.delete-button {
  background-color: #B22222 !important;
  width: 60px !important;
  height: 40px !important;
  padding: 5px 5px !important;
  margin-top: 2px !important; /* 上部のスペースを追加 */
  margin-bottom: 2px !important; /* 下部のスペースを追加 */
  margin-left: 0 !important; /* 左右のマージンをなしに */
  margin-right: 0 !important; /* 左右のマージンをなしに */
}

.delete-button:hover {
  background-color: #e02a5e !important;
}

.edit-form {
  width: 75%; /* フォームの幅を80%に設定 */
  margin-top: 40 auto; /* フォームを中央に配置 */
  padding: 20px; /* フォームの内側に余白を追加 */
  border: 1px solid #ccc; /* フォームの境界線を追加 */
  border-radius: 10px; /* フォームの角を丸くする */
  background-color: #f9f9f9; /* フォームの背景色を設定 */
}

.edit-form label {
  display: block; /* ラベルをブロック要素に設定 */
  margin-bottom: 10px; /* ラベルの下に余白を追加 */
}

.edit-form input {
  width: 100%; /* 入力フィールドの幅を100%に設定 */
  padding: px; /* 入力フィールドの内側に余白を追加 */
  margin-bottom: 10px; /* 入力フィールドの下に余白を追加 */
  border: 1px solid #ccc; /* 入力フィールドの境界線を追加 */
  border-radius: 5px; /* 入力フィールドの角を丸くする */
}


.edit-form label {
  justify-content: flex-start; /* 左寄せにする */
  margin-bottom: 10px; /* ラベルの下に余白を追加 */
  text-align: left; /* ラベルのテキストを左寄せにする */
  margin-left: 30px; 
  margin-right: 30px;
}

.edit-form label input {
  margin-left: 20px; /* 入力フィールドとラベルの間に余白を追加 */    
  flex-grow: 1; /* 入力フィールドが残りのスペースを埋めるようにする */
}

/* 当該ページのハイライト */
button.active {
  background-color: rgb(7, 92, 172);
  color: white;
}

button.active:hover {
  background-color: #4fa3d4 !important;
}


/* UserForm.css */
.user-form {
  width: 95%; /* フォームの幅を設定 */
  margin: 0 auto; /* フォームを中央に配置 */
  padding: 1px; /* フォームの内側に余白を追加 */
  border: 1px solid #888484; /* フォームの境界線を追加 */
  border-radius: 10px; /* フォームの角を丸くする */
  background-color: #d6d0d0; /* フォームの背景色を設定 */
  text-align: center; /* 子要素を中央に配置 */
}

.user-form .form-group {
  display: flex; /* ラベルとインプットフィールドをフレックスボックスに設定 */
  flex-direction: column; /* フレックスボックスの方向を縦に設定 */
  align-items: center; /* ラベルとインプットフィールドを中央揃え */
  margin-bottom: 0.5rem; /* フォームグループの下に余白を追加 */
}

.user-form label {
  align-self: flex-start; /* ラベルを左寄せに設定 */
  margin-left: 70px; /* ラベルの左に余白を追加 */
  margin-bottom: 0.1rem; /* ラベルの下に余白を追加 */
}

.user-form input,
.user-form select {
  width: 60%; /* 入力フィールドとセレクトボックスの幅を60%に設定 */
  height: 1.7rem; /* 入力フィールドとセレクトボックスの高さを設定 */
  padding: 0.1rem; /* 入力フィールドとセレクトボックスの内側に余白を追加 */
  padding-left: 0.5rem; /* 入力フィールドとセレクトボックスの左側に余白を追加 */
  border: 1px solid #ccc; /* 入力フィールドとセレクトボックスの境界線を追加 */
  border-radius: 5px; /* 入力フィールドとセレクトボックスの角を丸くする */
  margin-bottom: 0.1rem; /* 入力フィールドとセレクトボックスの下に余白を追加 */
}

.error-message {
  color: red;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1rem;
  display: block; /* エラーメッセージをブロック要素に設定 */
  text-align: center; /* エラーメッセージを中央揃え */
}

.add-user-button {
  background-color: #343fdd !important;
  width: 250px !important;
  height: 40px !important;
  padding: 1px 1px !important;
  margin: 5px 5px !important; /* 上下左右のスペースを追加 */
}

.add-user-button:hover {
  background-color: #7b81d8 !important;
}


.add-button {
  background-color: #6747c0 !important;
  width: 250px !important;
  height: 40px !important;
  padding: 1px 1px !important;
  margin: 5px 5px !important; /* 上下左右のスペースを追加 */
}

.add-button:hover {
  background-color: #947bd8 !important;
}


.cancel-button {
  background-color: #82c047 !important;
  width: 100px !important;
  height: 40px !important;
  padding: 1px 1px !important;
  margin: 5px 5px !important; /* 上下左右のスペースを追加 */
}

.cancel-button:hover {
  background-color: #aee07f !important;
}

h3 {
  margin: 5px 5px;
  font-size: 1em;
  color: #0d0397;
  text-align: center;
}
